<section class="about">
  <div class="profile">
    <img src="/profile.jpg" alt="Foto de Bruno Odella">
    <h1>Bruno Odella</h1>
    <h2>Estudiante de Ingeniería en Sistemas</h2>
    <p>
      Hola, soy Bruno Odella, un estudiante del octavo semestre de Ingeniería en Sistemas
      de la Universidad ORT de Uruguay. Estoy en búsqueda de oportunidades laborales, mientras sigo avanzando en mi formación profesional
      llevando a cabo proyectos personales y colaborando en proyectos de la universidad.
      En esta página encontrarás información sobre mí y mis proyectos, y además podrás contactarte conmigo.
    </p>
  </div>
</section>
